[submodule "ds2020_30642_pentek_tamas_assignment_1_frontend"]
	path = ds2020_30642_pentek_tamas_assignment_1_frontend
	url = https://gitlab.com/ds2020_30642_pentek_tamas/ds2020_30642_pentek_tamas_assignment_1_frontend
